.header{
    display: flex;
    justify-content: center;
    background-color: rgb(24, 213, 238);
    margin : 1em;
    max-width: 85%;
    box-sizing: content-box;
    border-style: ridge;
}
.nText1{
    top: 5px;
    left:5px;
  }
.nText2{ 
    bottom: 30%;
    right:0;  
}
.nText1, .nText2{
    position : absolute;
    font-family: 'Bungee Inline', cursive;
    font-size: 20px;
}
#main{
    position: relative;
    text-align: center;
    display:flex;
    flex-direction: column;
}
.result{
    position:relative;
}
.remove, h2{
    margin: 1em;
}
button{
    margin-bottom: 10px;
}